<ol>
  <% contents.each do |content| %>
    <% if content.id.present? %>
      <hr>
      <li>
        <%= content.content %>
        <div class="float-right">
          <%= link_to '編集', edit_content_path(content) %>
        </div>
        <p><img src="<%= content.image %>"></p>
      </li>
    <% end %>
  <% end %>
</ol>