<ol>
  <% contents.each do |content| %>
    <% if content.id.present? %>
      <li>
        <p><%= content.content %></p>
        <p><img src="<%= content.image %>"></p>
        <p>
          <%= link_to '詳細', content %>
          <%= link_to '編集', edit_content_path(content) %>
        </p>
      </li>
    <% end %>
  <% end %>
</ol>