<!-- Page Header -->
<header class="masthead" style="background-image: url(<%= asset_path "book.png" %>)">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>ユーザー登録</h1>
          <span class="subheading">マニュアルを作成する人は<br>事前にユーザー登録を行ってください。</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <h2 class="post-title">
        <%= render 'form', user: @user %>
      </div>
    </div>
  </div>
</div>