<!-- Page Header -->
<header class="masthead" style="background-image: url(<%= asset_path "book.png" %>)">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>カテゴリの作成</h1>
          <span class="subheading"></span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <h4 class="post-title">
          ▼新しいカテゴリ名を登録する
            <%= render 'form', category: @category %>
            <hr>
            <%= link_to '◀︎カテゴリ一覧へ戻る', categories_path %>
      </div>
    </div>
  </div>
</div>